# Python / venv
.venv/
__pycache__/
*.pyc

# VS Code local stuff (keep tasks/keybindings in repo)
.vscode/*.log
.vscode/.history/

# Misc
.DS_Store
Thumbs.db

# UF2 file (for drag-and-drop programming)
*.uf2